.logo {
	position: relative;
	transform: scale(1) rotate(0deg);
	transition: transform .25s ease-in-out;
}
.logo:hover {
	 transition: opacity .15s ease-in;
	 transform: scale(1.2) rotate(180deg);
	 transition: transform .5s ease-in-out;
}