.logo {
  position: relative;
  transform: scale(1) rotate(0deg);
  transition: transform 0.25s ease-in-out;
}
.logo:hover {
  transition: opacity 0.15s ease-in;
  transform: scale(1.2) rotate(180deg);
  transition: transform 0.5s ease-in-out;
}
.TFW {
  -webkit-animation: color-change 2s infinite;
  -moz-animation: color-change 2s infinite;
  -o-animation: color-change 2s infinite;
  -ms-animation: color-change 2s infinite;
  animation: color-change 2s infinite;
}

html {
  cursor: default; /* 1 */
  line-height: 1.5; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  -webkit-tap-highlight-color: transparent /* 4 */;
  -ms-text-size-adjust: 100%; /* 5 */
  -webkit-text-size-adjust: 100%; /* 5 */
}

body {
  margin: 0;
}

main {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
}

@-webkit-keyframes color-change {
  0% {
    color: teal;
  }
  50% {
    color: aquamarine;
  }
  100% {
    color: teal;
  }
}
@-moz-keyframes color-change {
  0% {
    color: teal;
  }
  50% {
    color: aquamarine;
  }
  100% {
    color: teal;
  }
}
@-ms-keyframes color-change {
  0% {
    color: teal;
  }
  50% {
    color: aquamarine;
  }
  100% {
    color: teal;
  }
}
@-o-keyframes color-change {
  0% {
    color: teal;
  }
  50% {
    color: aquamarine;
  }
  100% {
    color: teal;
  }
}
@keyframes color-change {
  0% {
    color: teal;
  }
  50% {
    color: aquamarine;
  }
  100% {
    color: teal;
  }
}
.subtle-shadow {
  box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.05),
    0px 6px 15px rgba(0, 0, 0, 0.05);
}
